src/META-INF/wsdl/cancel_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://facturacion.finkok.com/cancel" name="Application" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:tns="http://facturacion.finkok.com/cancel" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:senc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s1="http://facturacion.finkok.com/cancellation" xmlns:s0="apps.services.soap.core.views" xmlns:s12env="http://www.w3.org/2003/05/soap-envelope/" xmlns:s12enc="http://www.w3.org/2003/05/soap-encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:senv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://facturacion.finkok.com/cancellation" elementFormDefault="qualified">
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element name="string" type="xs:string" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="stringArray" type="s1:stringArray"/>
    </xs:schema>
    <xs:schema targetNamespace="apps.services.soap.core.views" elementFormDefault="qualified">
      <xs:import namespace="http://facturacion.finkok.com/cancellation"/>
      <xs:complexType name="ReceiptResult">
        <xs:sequence>
          <xs:element name="uuid" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="success" type="xs:boolean" minOccurs="0" nillable="true"/>
          <xs:element name="receipt" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="taxpayer_id" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="error" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="date" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UUIDS">
        <xs:sequence>
          <xs:element name="uuids" type="s1:stringArray" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelaCFDResult">
        <xs:sequence>
          <xs:element name="Folios" type="s0:FolioArray" minOccurs="0" nillable="true"/>
          <xs:element name="Acuse" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="Fecha" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="RfcEmisor" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="CodEstatus" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FolioArray">
        <xs:sequence>
          <xs:element name="Folio" type="s0:Folio" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Folio">
        <xs:sequence>
          <xs:element name="EstatusUUID" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="UUID" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPendingResult">
        <xs:sequence>
          <xs:element name="status" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="xml" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="uuid" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="uuid_status" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="next_attempt" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="attempts" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="error" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="date" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="QueryPendingResult" type="s0:QueryPendingResult"/>
      <xs:element name="Folio" type="s0:Folio"/>
      <xs:element name="FolioArray" type="s0:FolioArray"/>
      <xs:element name="CancelaCFDResult" type="s0:CancelaCFDResult"/>
      <xs:element name="UUIDS" type="s0:UUIDS"/>
      <xs:element name="ReceiptResult" type="s0:ReceiptResult"/>
    </xs:schema>
    <xs:schema targetNamespace="http://facturacion.finkok.com/cancel" elementFormDefault="qualified">
      <xs:import namespace="apps.services.soap.core.views"/>
      <xs:complexType name="sign_cancel">
        <xs:sequence>
          <xs:element name="UUIDS" type="s0:UUIDS" minOccurs="0" nillable="true"/>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="taxpayer_id" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="serial" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="store_pending" type="xs:boolean" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signatureResponse">
        <xs:sequence>
          <xs:element name="cancel_signatureResult" type="s0:CancelaCFDResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receipt">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="taxpayer_id" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="uuid" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="type" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancelResponse">
        <xs:sequence>
          <xs:element name="out_cancelResult" type="s0:CancelaCFDResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelResponse">
        <xs:sequence>
          <xs:element name="cancelResult" type="s0:CancelaCFDResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receiptResponse">
        <xs:sequence>
          <xs:element name="get_receiptResult" type="s0:ReceiptResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel">
        <xs:sequence>
          <xs:element name="UUIDS" type="s0:UUIDS" minOccurs="0" nillable="true"/>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="taxpayer_id" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="cer" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="key" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="store_pending" type="xs:boolean" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellation">
        <xs:sequence>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="uuid" type="xs:string" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellationResponse">
        <xs:sequence>
          <xs:element name="query_pending_cancellationResult" type="s0:QueryPendingResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signature">
        <xs:sequence>
          <xs:element name="xml" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="store_pending" type="xs:boolean" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sign_cancelResponse">
        <xs:sequence>
          <xs:element name="sign_cancelResult" type="s0:CancelaCFDResult" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancel">
        <xs:sequence>
          <xs:element name="xml" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="username" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="password" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="taxpayer_id" type="xs:string" minOccurs="0" nillable="true"/>
          <xs:element name="cer" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="key" type="xs:base64Binary" minOccurs="0" nillable="true"/>
          <xs:element name="store_pending" type="xs:boolean" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="out_cancel" type="tns:out_cancel"/>
      <xs:element name="sign_cancelResponse" type="tns:sign_cancelResponse"/>
      <xs:element name="cancel_signature" type="tns:cancel_signature"/>
      <xs:element name="query_pending_cancellationResponse" type="tns:query_pending_cancellationResponse"/>
      <xs:element name="query_pending_cancellation" type="tns:query_pending_cancellation"/>
      <xs:element name="cancel" type="tns:cancel"/>
      <xs:element name="get_receiptResponse" type="tns:get_receiptResponse"/>
      <xs:element name="cancelResponse" type="tns:cancelResponse"/>
      <xs:element name="out_cancelResponse" type="tns:out_cancelResponse"/>
      <xs:element name="get_receipt" type="tns:get_receipt"/>
      <xs:element name="cancel_signatureResponse" type="tns:cancel_signatureResponse"/>
      <xs:element name="sign_cancel" type="tns:sign_cancel"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cancel_signature">
    <wsdl:part name="cancel_signature" element="tns:cancel_signature"/>
  </wsdl:message>
  <wsdl:message name="cancel_signatureResponse">
    <wsdl:part name="cancel_signatureResponse" element="tns:cancel_signatureResponse"/>
  </wsdl:message>
  <wsdl:message name="query_pending_cancellation">
    <wsdl:part name="query_pending_cancellation" element="tns:query_pending_cancellation"/>
  </wsdl:message>
  <wsdl:message name="query_pending_cancellationResponse">
    <wsdl:part name="query_pending_cancellationResponse" element="tns:query_pending_cancellationResponse"/>
  </wsdl:message>
  <wsdl:message name="sign_cancel">
    <wsdl:part name="sign_cancel" element="tns:sign_cancel"/>
  </wsdl:message>
  <wsdl:message name="sign_cancelResponse">
    <wsdl:part name="sign_cancelResponse" element="tns:sign_cancelResponse"/>
  </wsdl:message>
  <wsdl:message name="get_receipt">
    <wsdl:part name="get_receipt" element="tns:get_receipt"/>
  </wsdl:message>
  <wsdl:message name="get_receiptResponse">
    <wsdl:part name="get_receiptResponse" element="tns:get_receiptResponse"/>
  </wsdl:message>
  <wsdl:message name="cancel">
    <wsdl:part name="cancel" element="tns:cancel"/>
  </wsdl:message>
  <wsdl:message name="cancelResponse">
    <wsdl:part name="cancelResponse" element="tns:cancelResponse"/>
  </wsdl:message>
  <wsdl:message name="out_cancel">
    <wsdl:part name="out_cancel" element="tns:out_cancel"/>
  </wsdl:message>
  <wsdl:message name="out_cancelResponse">
    <wsdl:part name="out_cancelResponse" element="tns:out_cancelResponse"/>
  </wsdl:message>
  <wsdl:portType name="Application">
    <wsdl:operation name="cancel_signature" parameterOrder="cancel_signature">
      <wsdl:documentation>This method cancels a CFDI by the given enveloped signature</wsdl:documentation>
      <wsdl:input name="cancel_signature" message="tns:cancel_signature"/>
      <wsdl:output name="cancel_signatureResponse" message="tns:cancel_signatureResponse"/>
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation" parameterOrder="query_pending_cancellation">
      <wsdl:documentation>This method returns the status of a peding buffer invoice by using an uuid</wsdl:documentation>
      <wsdl:input name="query_pending_cancellation" message="tns:query_pending_cancellation"/>
      <wsdl:output name="query_pending_cancellationResponse" message="tns:query_pending_cancellationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sign_cancel" parameterOrder="sign_cancel">
      <wsdl:documentation>This method returns a session id for work with the webservices</wsdl:documentation>
      <wsdl:input name="sign_cancel" message="tns:sign_cancel"/>
      <wsdl:output name="sign_cancelResponse" message="tns:sign_cancelResponse"/>
    </wsdl:operation>
    <wsdl:operation name="get_receipt" parameterOrder="get_receipt">
      <wsdl:documentation>This method returns the sat receipt (response) of the cancellation webservice</wsdl:documentation>
      <wsdl:input name="get_receipt" message="tns:get_receipt"/>
      <wsdl:output name="get_receiptResponse" message="tns:get_receiptResponse"/>
    </wsdl:operation>
    <wsdl:operation name="cancel" parameterOrder="cancel">
      <wsdl:documentation>This method returns a session id for work with the webservices</wsdl:documentation>
      <wsdl:input name="cancel" message="tns:cancel"/>
      <wsdl:output name="cancelResponse" message="tns:cancelResponse"/>
    </wsdl:operation>
    <wsdl:operation name="out_cancel" parameterOrder="out_cancel">
      <wsdl:input name="out_cancel" message="tns:out_cancel"/>
      <wsdl:output name="out_cancelResponse" message="tns:out_cancelResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cancel_signature">
      <soap:operation soapAction="cancel_signature" style="document"/>
      <wsdl:input name="cancel_signature">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancel_signatureResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation">
      <soap:operation soapAction="query_pending_cancellation" style="document"/>
      <wsdl:input name="query_pending_cancellation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="query_pending_cancellationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sign_cancel">
      <soap:operation soapAction="sign_cancel" style="document"/>
      <wsdl:input name="sign_cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sign_cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_receipt">
      <soap:operation soapAction="get_receipt" style="document"/>
      <wsdl:input name="get_receipt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="get_receiptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="cancel" style="document"/>
      <wsdl:input name="cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="out_cancel">
      <soap:operation soapAction="out_cancel" style="document"/>
      <wsdl:input name="out_cancel">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="out_cancelResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancelSOAP">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="https://facturacion.finkok.com/servicios/soap/cancel"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>