src/META-INF TEST/wsdl/ConexionRemota32.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.appfacturainteligente.com/ConexionRemotaCFDI32" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://www.appfacturainteligente.com/ConexionRemotaCFDI32" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.appfacturainteligente.com/ConexionRemotaCFDI32">
      <s:element name="GenerarCFDIv32">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="datosReceptor" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="datosCFDI" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="etiquetas" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="conceptos" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="informacionAduanera" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="retenciones" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="traslados" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="retencionesLocales" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="trasladosLocales" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarCFDIv32Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarCFDIv32Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarCodigoBidimensional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarCodigoBidimensionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarCodigoBidimensionalResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="ListaACancelar" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarCFDIResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCFDI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarCFDIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarCFDIResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerPDFResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNumeroCreditos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="datosUsuario" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNumeroCreditosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerNumeroCreditosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarCFDIv32SoapIn">
    <wsdl:part name="parameters" element="tns:GenerarCFDIv32" />
  </wsdl:message>
  <wsdl:message name="GenerarCFDIv32SoapOut">
    <wsdl:part name="parameters" element="tns:GenerarCFDIv32Response" />
  </wsdl:message>
  <wsdl:message name="GenerarCodigoBidimensionalSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarCodigoBidimensional" />
  </wsdl:message>
  <wsdl:message name="GenerarCodigoBidimensionalSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarCodigoBidimensionalResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarCFDISoapIn">
    <wsdl:part name="parameters" element="tns:CancelarCFDI" />
  </wsdl:message>
  <wsdl:message name="CancelarCFDISoapOut">
    <wsdl:part name="parameters" element="tns:CancelarCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarCFDISoapIn">
    <wsdl:part name="parameters" element="tns:EnviarCFDI" />
  </wsdl:message>
  <wsdl:message name="EnviarCFDISoapOut">
    <wsdl:part name="parameters" element="tns:EnviarCFDIResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerPDFSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerPDF" />
  </wsdl:message>
  <wsdl:message name="ObtenerPDFSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerPDFResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroCreditosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroCreditos" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroCreditosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroCreditosResponse" />
  </wsdl:message>
  <wsdl:portType name="ConexionRemota32Soap">
    <wsdl:operation name="GenerarCFDIv32">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Conexión Remota para Generación de CFDI v3.2</wsdl:documentation>
      <wsdl:input message="tns:GenerarCFDIv32SoapIn" />
      <wsdl:output message="tns:GenerarCFDIv32SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoBidimensional">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Conexión Remota para Generación del Código Bidimensional</wsdl:documentation>
      <wsdl:input message="tns:GenerarCodigoBidimensionalSoapIn" />
      <wsdl:output message="tns:GenerarCodigoBidimensionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Conexión Remota para Generar Cancelación CFDI</wsdl:documentation>
      <wsdl:input message="tns:CancelarCFDISoapIn" />
      <wsdl:output message="tns:CancelarCFDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCFDI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enviar por Email el CFDI</wsdl:documentation>
      <wsdl:input message="tns:EnviarCFDISoapIn" />
      <wsdl:output message="tns:EnviarCFDISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtner Comprobante en PDF</wsdl:documentation>
      <wsdl:input message="tns:ObtenerPDFSoapIn" />
      <wsdl:output message="tns:ObtenerPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCreditos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtner el número de créditos de la cuenta</wsdl:documentation>
      <wsdl:input message="tns:ObtenerNumeroCreditosSoapIn" />
      <wsdl:output message="tns:ObtenerNumeroCreditosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConexionRemota32Soap" type="tns:ConexionRemota32Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarCFDIv32">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/GenerarCFDIv32" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoBidimensional">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/GenerarCodigoBidimensional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/CancelarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCFDI">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/EnviarCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ObtenerPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCreditos">
      <soap:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ObtenerNumeroCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConexionRemota32Soap12" type="tns:ConexionRemota32Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarCFDIv32">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/GenerarCFDIv32" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarCodigoBidimensional">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/GenerarCodigoBidimensional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCFDI">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/CancelarCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCFDI">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/EnviarCFDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPDF">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ObtenerPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCreditos">
      <soap12:operation soapAction="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ObtenerNumeroCreditos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConexionRemota32">
    <wsdl:port name="ConexionRemota32Soap" binding="tns:ConexionRemota32Soap">
      <soap:address location="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ConexionRemota32.asmx" />
    </wsdl:port>
    <wsdl:port name="ConexionRemota32Soap12" binding="tns:ConexionRemota32Soap12">
      <soap12:address location="https://www.appfacturainteligente.com/ConexionRemotaCFDI32/ConexionRemota32.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>